//- Initialize Site Data
title #{title}
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='google-site-verification', content='tjwlg8Q7I3CmF58-9XruF1_DkX8qTxEUmc0uq-Da4Aw')
meta(name='description' content='#{description}')
meta(name='keywords', content='design, ui, ux, mobile, front-end, html, css, interface, vancouver, canada')
meta(name='viewport', content='width=device-width,initial-scale=1.0')
meta(name='author', content='Ben Groulx')

//- Critical Styles
style.
    body { background-color:#e0e3e8; color:#000; font-family:sans-serif; font-size:1rem; line-height:1.5; }
    main { opacity:0; animation:fade-in 1s 1s forwards; }
    h1 { font-size:3em; }
    a { color:inherit; }
    section { padding-top:5%; padding-bottom:5%;}
    .js-image-visible { animation: fade-in 2s forwards; }
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }

//- Deferred Styles
noscript#deferred-styles
    link(rel='stylesheet', href='/assets/styles/screen.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Karla:400,400i,700|Roboto+Slab:300')

//- Load Deferred Styles
script(async='').
    var loadDeferredStyles=function(){var a=document.getElementById('deferred-styles'),b=document.createElement('div');b.innerHTML=a.textContent,document.body.appendChild(b),a.parentElement.removeChild(a)},raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;raf?raf(function(){window.setTimeout(loadDeferredStyles,0)}):window.addEventListener('load',loadDeferredStyles);

//- Twitter Cards Data
meta(name='twitter:card', content='summary')
meta(name='twitter:title', content='#{ title }')
meta(name='twitter:site', content='@bengroulx')
meta(name='twitter:image', content='/assets/images/ben-groulx.jpg')
meta(name='twitter:image:alt', content='A headshot of Ben Groulx; He is standing on a beach, wearing a baseball cap.')
meta(name='twitter:creator', content='@bengroulx')
meta(name='twitter:description', content='#{ description }')

//- Facebook Open Graph Data
meta(name='og:url', content='https://bengroulx.com')
meta(name='og:type', content='website')
meta(name='og:title', content='#{title}')
meta(name='og:image', content='#{site_image}')
meta(name='og:site_name', content='#{site_name}')
meta(name='og:description', content='#{site_description}')

//- Standalone Web App Data
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-title', content='#{site_name}')
meta(name='msapplication-TileImage', content='assets/startup/apple-icon-144.png')
meta(name='theme-color', content='#0c0947')
link(rel='manifest', href='manifest.json')
link(rel='apple-touch-icon', sizes='114x114', href='assets/startup/apple-icon-114.png')
link(rel='apple-touch-icon', sizes='144x144', href='assets/startup/apple-icon-144.png')
link(rel='apple-touch-icon', sizes='152x152', href='assets/startup/apple-icon-152.png')
link(rel='apple-touch-icon', sizes='180x180', href='assets/startup/apple-icon-180.png')
link(rel='icon', type='image/png', sizes='512x512', href='assets/startup/android-icon-512.png')
link(rel='icon', type='image/png', sizes='384x384', href='assets/startup/android-icon-384.png')
link(rel='icon', type='image/png', sizes='256x256', href='assets/startup/android-icon-256.png')
link(rel='icon', type='image/png', sizes='192x192', href='assets/startup/android-icon-192.png')
link(rel='icon', type='image/png', sizes='96x96', href='assets/startup/favicon-96.png')
link(rel='icon', type='image/png', sizes='32x32', href='assets/startup/favicon-32.png')
link(rel='icon', type='image/png', sizes='16x16', href='assets/startup/favicon-16.png')
